@font-face {
    font-family: typewriter;
    src: url(type-machine.ttf);
}

html body {
    background-color: cornflowerblue;
    font-family: typewriter;
    margin: 0;
    padding: 0;
}

h2 {
    color: #e5e7eb;
    font-weight: 100;
    text-decoration: underline;
}

ul,
ol,
li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
    gap: 32px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
}

button {
    background-color: cornflowerblue;
    border-radius: 20px;
    font-size: 16px;
    border: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    font-family: typewriter;
    text-transform: uppercase;
    outline: 1px solid rgb(255, 255, 255);
    
}

button:hover {
    color: white;
    background-color: rgb(0, 0, 53);
    outline: 2px solid white;
    font-weight: bolder;
}

input {
    border-radius: 50px;
    border: 2px solid cornflowerblue;
    width: 200px;
}

input, select, textarea{
    color: white;
    background: black;
}

textarea:focus, input:focus {
    color: white;
    background: black;
}

/* top section 
   right below
*/

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    border-bottom:#e5e7eb solid 1px;
    outline: 0;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 70%);
    height: 75px;
    color: white;
    text-transform: uppercase;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-left: 32px;
}

.header-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* underneath the header is hERE */

.header-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.page-open {
    max-width: 500px;
    text-align: center;
    font-size: 24px;
}

.picme {
    margin-top: 75px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    padding: 50px;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    outline: 0;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(black, rgb(0, 0, 52))
}

.etcher {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
    font-size: 32px;
}

.altetcher {
    color: cornflowerblue;
    
}

.text-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}

.bio-input {
    display: flex;
    flex: 1 1 auto;
    width: 500px;
    min-width: 200px;
    height: 350px;
    background: black;
    border-radius: 10px;
}



/*this is obvi the footer here*/

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 10px;
    gap: 10px;
    background-color: black;
    outline: 1px solid white;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 70%);
    font-size: 50px;
}

.fa {
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
  }







