@font-face {
    font-family: typewriter;
    src: url(type-machine.ttf);
}

@font-face {
    font-family: groovy;
    src: url(Royalacid.ttf);
}

html body {
    background-color: cornflowerblue;
    font-family: typewriter;
    margin: 0;
    line-height: 1.5;
    padding: 0;
}

h2 {
    color: rgb(238, 238, 238);
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul,
ol,
li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 16px;
    gap: 32px;
}

a {
    color: rgb(238, 238, 238);
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
}

button {
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    border: 0;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    font-family: typewriter;
    text-transform: uppercase;
    outline: 1px solid rgb(238, 238, 238);
}

button:hover {
    color: rgb(238, 238, 238);
    background-color: rgb(0, 0, 53);
    outline: 2px solid rgb(238, 238, 238);
    font-weight: bolder;
}

input {
    border-radius: 50px;
    border: 2px solid cornflowerblue;
    width: 200px;
}

textarea {
    color: rgb(238, 238, 238);
    background: black;
    padding: 5px;
}

textarea:focus {
    color: rgb(238, 238, 238);
    background: black;
}

/* top section 
   right below
*/

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    border-bottom:#e5e7eb solid 1px;
    outline: 0;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 70%);
    max-height: fit-content;
    color: rgb(238, 238, 238);
    text-transform: uppercase;
    min-height: 80px;
    max-height: 300px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding:0 32px;
    margin: auto;
    margin-top: 22px;
}

.header-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:0 32px;
    margin: auto;
}

/* underneath the header is hERE */

.header-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.page-open {
    max-width: 500px;
    text-align: center;
    font-size: 24px;
}

.picme {
    margin-top: 75px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    padding: 50px;
    color: rgb(238, 238, 238);
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    outline: 0;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(black, rgb(0, 0, 52))
}

.the-soundcloud:hover {
    background-color: rgb(214, 139, 0);
    color: black;
    outline: 2px solid black;
}

.etcher {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
    font-size: 32px;
}

.altetcher {
    color: cornflowerblue;
    
}

.prompt {
    font-size: large;
}

.text-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 5px;
}

.email-text {
    display: flex;
    flex-wrap: wrap;
}

.email-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    text-align: left;
    vertical-align: top;
    border-radius: 5px;
    resize: none;
}

.bio-input {
    display: flex;
    width: 500px;
    min-width: 200px;
    height: 350px;
    background: black;
    border-radius: 5px;
    resize: none;
}



/*this is obvi the footer here*/

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 10px;
    gap: 10px;
    background-color: black;
    outline: 1px solid rgb(238, 238, 238);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.7);
    font-size: 50px;
}

.fa {
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: rgb(238, 238, 238);
  }
